@model ExamRoomAllocation.ViewModel.RoomViewModel

<br />
<br />
<p>
    @Html.ActionLink("Back To List", "RoomSession", new { id = Model.RoomId })
</p>

@{
    int counter = 0;
    var roomId = Model.RoomNumber;
    var block = Model.BlockName;
    @: @block block - @roomId
    <br />
    var time = Model.SessionTime.Value.ToShortTimeString();
    var date = Model.Date.Value.ToShortDateString();
    @: @date    @time
    <br />
    var teacher = Model.TeacherName;
    var teacherDepartment = Model.TeacherDepartment;
    @: Invigilator - @teacher (@teacherDepartment)
}

<table class="table">
    <tr>
        @foreach (var department in Model.Departments.ToList())
        {
            <th>
                @Html.DisplayFor(model => model.ExamCode[counter])
                <br />
                @Html.DisplayFor(modelIteml => department)
                <br />
                @foreach (var student in Model.Students.Where(d => d.Department.Name == department).ToList())
                {
                    @Html.DisplayFor(s => student.Id)
                    <br />
                }
            </th>
            counter++;
        }
    </tr>
</table>
<p>
    @Html.ActionLink("Back To List", "RoomSession", new { id = Model.RoomId })
</p>
