@model ExamRoomAllocation.ViewModel.TeacherViewModel
<br />
<br />

<h4>Teachers Allocation</h4>

@functions{
    public string SessionTime(string session)
    {
        string time;
        if (session.EndsWith("1"))
        {
            time = "9:00 AM";
        }
        else
        {
            time = "2:00 PM";
        }
        Html.Display(time);
        return time;
    }

    public string Date(string session)
    {
        Html.Display(session);
        return session;
    }
}
<div class="Grid">
    <table class="table" id="tbl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
        </tr>
        @{ var index = 0;
            var rooms = Model.Rooms.ToList();
            var teachers = Model.Names.ToList();
        }
        @foreach (var session in Model.Sessions.ToList())
        {
            <tr>
                <td>
                    @teachers[index]
                </td>
                <td>
                    @Date(session.Substring(0, 5))
                </td>
                <td>
                    @SessionTime(session)
                </td>
                <td>
                    @rooms[index]
                </td>
            </tr>
        }
    </table>
</div>
